doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Support
		link(rel="stylesheet" href="assets/styles/normalize.css")
		link(rel="stylesheet" href="assets/styles/style.css")
	body
		// Header
		header
			include includes/nav
		
		main
			.container
				article
					h2 AIWA is the leader in HiFi products
					p Aiwa has a simple formula for delivering serious audio equipment without compromise - we have the best acoustic talent and we put our money into the components that deliver the best sound, instead of the marketing of that equipment.
					
					p Aiwa is for those that want music to be more than background noise, for those who want the music to have the power to entertain.
		
		
		include includes/footer