doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title About us — Aiwa
		link(rel="stylesheet" href="assets/styles/normalize.css")
		link(rel="stylesheet" href="assets/styles/style.css")
	body
		// Header
		header
			.container
				.logo
					a(href="/" title="Go Home"): img(src="assets/images/logo.png" alt="Aiwa")
				nav
					ul
						li: a(href="/") Home
						li: a(href="buy.html") The CS-M1
						li: a(href="reviews.html") Reviews
						li: a(href="support.html") Support
						li: a.active(href="about.html") About
		
		.about-logo
			img(src="assets/images/logo.png" alt="Aiwa")
		
		main
			.container
				.flex
					.box-three
					article.box-six
						h1 About us
						p Aiwa has a simple formula for delivering serious audio equipment without compromise - we have the best acoustic talent and we put our money into the components that deliver the best sound, instead of the marketing of that equipment.
						
						p Aiwa is for those that want music to be more than background noise, for those who want the music to have the power to entertain.
		
		
		include includes/footer