doctype html
html(lang="en")
	head
		meta(charset="utf-8")
		title Buy Now — Aiwa
		link(rel="stylesheet" href="assets/styles/normalize.css")
		link(rel="stylesheet" href="assets/styles/style.css")
	body
		// Header
		header
			.container
				.logo
					a(href="/" title="Go Home"): img(src="assets/images/logo.png" alt="Aiwa")
				nav
					ul
						li: a(href="/") Home
						li: a.active(href="buy.html") The CS-M1
						li: a(href="reviews.html") Reviews
						li: a(href="support.html") Support
						li: a(href="about.html") About
		
		
		// Heading and a big photo
		.product-info
			.container
				h1 Aiwa CS-M1
				
		// Block with some facts about this product
		.facts
			.container
				h1 Features
				.flex
					.box-four
						h2 Compact size
						p With dimensions 420 × 76 × 147mm and 2kg weight, Aiwa CS-M1 is a compact and powerful solution for those who needs compact stereo.
						
					.box-four
						h2 Micro cassette
						p The Aiwa CS-M1 has a micro cassette frequency range of 80 to 10,000 Hz with metal tape, 80 to 8,000 Hz with normal tape.
						
					.box-four
						h2 Tape and radio
						p Aiwa is offering a portable radio and tape combination. Device have built-in stereo amplifier and speakers and offer two short-wave bands, as well as AM and FM reception.
						
		// Picture of top view
		.front-top
			.container
				img(src="assets/images/top.png" alt="Aiwa CS-M1 — Top view")
		
		
		// Block with some more information about the product
		.facts
			.container
				.flex
					.box-three
						h3 Volume and tone
						p Volume and tone knobs.
						
					.box-three
						h3 Tape controls
						p Cassette type switch. Transport controls.
						
					.box-three
						h3 Radio controls
						p Mono/stereo switch. AM/FM band switch.
						
					.box-three
						h3 Sleep timer
						p Easy to set sleep timer.
				
		
						
				
		include includes/footer