footer: .container
	p Designed and coded by Ernest Iliiasov #200336022 for COMP1002 class.
	p Photos by <a href="http://thngs.co">thngs.co</a>. Icons by <a href="http://icons8.com">Icons8.com</a>.
	
script(src="assets/scripts/main.js")