.container
	.logo
		a(href="/" title="Go Home"): img(src="assets/images/logo.png" alt="AIWA")
	nav
		ul
			li: a.active(href="/") Home
			li: a(href="buy.html") The CS-M1
			li: a(href="reviews.html") Reviews
			li: a(href="support.html") Support
			li: a(href="about.html") About